html, body{
	width: 100%;
	height: 100%;
	padding: 1vw;
	margin: 0;
	background: white;
	font-family: Courier, serif;
}

body {
	padding: 10px 10px;
}

select, input {
	padding: 5px;
	margin: 0 5px;
}

input {
	min-width: 10px;
}

div {
	margin: 10px;
}

#song_area {
	position: relative;
	width: 100%;
	height: 80vh;
}

#song_area button {
	padding: 0.5em 1em;
	background:none;
	border: none;
	position:absolute;
	font-family: Courier, serif;
}


